<br><br>
<div class="container">
    <h2>Add Owner</h2>
    <form name="formdata">
        <div class="form-group">
            <label for="firstname">First Name:</label>
            <input type="text" class="form-control" [(ngModel)]="owner.firstname" name="fname">
        </div>
        <div class="form-group">
            <label for="lastname">last Name:</label>
            <input type="text" class="form-control" [(ngModel)]="owner.lastname" name="lname">
        </div>
        <div class="form-group">
            <label for="avatarurl">Avatar URL:</label>
            <input type="text" class="form-control" [(ngModel)]="owner.icon" name="avatarurl">
        </div>
        <div class="form-group">
            <label for="contactno">Contact No:</label>
            <input type="text" class="form-control" [(ngModel)]="owner.contactno" name="contactno">
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" class="form-control" [(ngModel)]="owner.address" name="address">
        </div>
        <div class="col-md-4"><button class="btn btn-primary" (click)="addOwner()">
            Add Owner
        </button></div>
    </form>
</div>